#botao-compra{
    background-color: rgb(225, 200, 200);
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    
}

 #preco-antigo {
    text-decoration: line-through;
    color: black;
  }
  
   